<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta lang="es"></meta>
    <title>Conpital</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#">Conpital</a>
        </li>
        <li>
          <a class="active" href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Expense</a>
        </li>
      </ul>
    </nav>
    <div class="container">
    	<section>
    	  <div>
    	  	<span><p>$1,000,000</p><p>HOY</p></span>
    	    <span><p>$1,000,000</p><p>AYER</p></span>
    	    <span><p>$5,000,000</p><p>ESTE MES</p></span>
    	    <span><p>$500,000</p><p>MES PASADO</p></span>
    	  </div>
    	</section>

    	<br><br><br><br>

    	<section>
    		<span class="graph">
    			<h5>Últimos 6 meses</h5>
    			<p>Compras — Retiros — Transferencias — Pagos</p>
    		</span>
    		<span class="graph">
    			<h5>Día</h5>
    			<p>Compras — Retiros — Transferencias — Pagos</p>
    		</span>
    		<span class="graph">
    			<h5>Categoría</h5>
    			<p>Restaurante — Diversión — Servicios — Carro — Educación — Mercado</p>
    		</span>
    		<span class="graph">
    			<h5>Acumulado</h5>
    			<p>Mes Anterior — Mes Seleccionado</p>
    		</span>
    	</section>
    </div>
  </body>
</html>