// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-color: #202020;
	color: white;
}

nav {
	background-color: #616161;
}

.active {
  background-color: #202020;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  float: left;
  display: inline-block;
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: #FFF;
}

span {
	float:left;
	padding: 0 100px;
	margin: 50px 10px;
}

.graph {
	background-color: #3D3D3D;
	margin: 50px 10px;
}