.sessions.new {
	h2 {
		color: #F1ECE9;
		font-size: 4rem;
		font-weight: bolder;
	}
	.field {
		color: #F1ECE9;
	}
	.links a {
		color: #F1ECE9;
	}
	.links i {
		color: #F1ECE9;
	}
}	

.registrations.new {
	h2 {
		color: #F1ECE9;
		font-size: 4rem;
		font-weight: bolder;
	}
	.field {
		color: #F1ECE9;
	}
	.field em {
		font-size: 0.8rem;
	}
}

.passwords.new {
	h2 {
		color: #F1ECE9;
		font-weight: bolder;
	}
	.field {
		color: #F1ECE9;
	}
	.field em {
		font-size: 0.8rem;
	}
}	