// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
	margin-top: 50px;
}

.resumen {
	margin-top: 50px;
}

.full {
	background-color: #2C3032;
	color: #F1ECE9;
}

a.list-group-item {
    background-color: #2C3032;
    color: #F1ECE9;
    border-color: #F1ECE9;
}

.filter-name {
	margin-top: 50px;
}